@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply px-8 py-2 rounded-full font-semibold bg-green-500 text-white hover:bg-green-600 transition-all;
}

p {
  font-family: 'Open Sans', sans-serif;
}

body {
  max-width: 1580px;
  margin: auto;
}

.navlink li a.active {
  color: rgb(52, 225, 52);
}
